<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>D-OJ</title>
</head>

<body class="gray-bg">

<!--引入公用资源-->
<div th:replace="common/staticImport :: common_resource"></div>
<!--引入公用头部-->
<div th:replace="common/staticHf :: common_head"></div>
<div class="rootDiv" >
    <div class="middle-box text-center animated fadeInDown">
        <h1>404</h1>
        <h3 class="font-bold">页面未找到！</h3>
    </div>
</div>
</body>
<!-- 引入公用尾部 -->
<!--<div th:replace="common/staticHf :: common_footer"></div>-->
</html>
